---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Ben</h1>
			<h2>Roblox Game Developer | Management
			<p>
				Welcome to the official <a href="https://www.roblox.com/users/2268439948/profile">Ben</a> portfolio. This will show you my experiance and skill set with the Roblox platform and technical aspects.
			</p>
			<p>
				To see more about me, feel free to browse the About page or continue reading.
			</p>
			<p>Here are a few examples of my employments:</p>
			<ul>
				<li>Developer at Hexa Shopping UK <code>JULY - PRESENT</code></li>
				<li>Admin Manager at Brampton Primary School <code>FEBRUARY - PRESENT</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
